In [1]:
## conda environment Weather_Prediction

import os
import numpy as np
import pandas as pd
import geopandas as gpd
import xarray as xr
pd.set_option('display.max_columns', None)
pd.set_option('display.precision', 15)

In [2]:
PATH_1=os.path.join('..','..','..','Weather_Data','CAMS','2013','2013_single_level_34_variables.nc')
sl_34_variables = xr.open_dataset(PATH_1) ## single level 34 variables
pm2_5=sl_34_variables['pm2p5'] ## get only pm2.5 variable
pm2_5

<xarray.DataArray 'pm2p5' (valid_time: 2920, latitude: 34, longitude: 78)> Size: 31MB
[7743840 values with dtype=float32]
Coordinates:
  * valid_time  (valid_time) datetime64[ns] 23kB 2013-01-01 ... 2013-12-31T21...
  * latitude    (latitude) float64 272B 49.25 48.5 47.75 ... 26.0 25.25 24.5
  * longitude   (longitude) float64 624B -124.8 -124.1 -123.3 ... -67.85 -67.1
Attributes: (12/33)
    GRIB_paramId:                             210073
    GRIB_dataType:                            an
    GRIB_numberOfPoints:                      2652
    GRIB_typeOfLevel:                         surface
    GRIB_stepUnits:                           1
    GRIB_stepType:                            instant
    ...                                       ...
    GRIB_units:                               kg m**-3
    long_name:                                Particulate matter d <= 2.5 um
    units:                                    kg m**-3
    standard_name:                            mass_concentration_of_pm2p5_amb...
    GRIB_number:                              0
    GRIB_surface:                             0.0

In [3]:
pm2_5.to_dataframe()

                                                               pm2p5
valid_time          latitude longitude
2013-01-01 00:00:00 49.25    -124.849999999999994  0.000000000544033
                             -124.099999999999994  0.000000002306491
                             -123.349999999999994  0.000000005696207
                             -122.599999999999994  0.000000005721946
                             -121.849999999999994  0.000000004011410
...                                                              ...
2013-12-31 21:00:00 24.50    -70.099999999999994   0.000000002408640
                             -69.349999999999994   0.000000002266598
                             -68.599999999999994   0.000000002028001
                             -67.849999999999994   0.000000001808969
                             -67.099999999999994   0.000000001759547

[7743840 rows x 1 columns]

In [4]:
pm_threshold=9*10**(-9) ## epa standard
pm_threshold

9.000000000000001e-09

In [5]:
SHAPE_PATH=os.path.join('..','..','..','Shapefiles','county_shapefiles','2013_county_shapefile','cb_2013_us_county_500k.shp')
county_gdf = gpd.read_file(SHAPE_PATH)
county_gdf

,STATEFP,COUNTYFP,COUNTYNS,AFFGEOID,GEOID,NAME,LSAD,ALAND,AWATER,geometry
0,01,001,00161526,0500000US01001,01001,Autauga,06,1539584443,25773561,"POLYGON ((-86.92120 32.65754, -86.92035 32.658..."
1,01,009,00161530,0500000US01009,01009,Blount,06,1670041814,15077461,"POLYGON ((-86.96336 33.85822, -86.95967 33.857..."
2,01,023,00161537,0500000US01023,01023,Choctaw,06,2365954803,19059247,"POLYGON ((-88.47323 31.89386, -88.46888 31.930..."
3,01,033,00161542,0500000US01033,01033,Colbert,06,1534878355,80029923,"POLYGON ((-88.13925 34.58779, -88.13872 34.589..."
4,01,049,00161550,0500000US01049,01049,DeKalb,06,2012664422,4121499,"POLYGON ((-86.11889 34.40384, -86.11002 34.403..."
...,...,...,...,...,...,...,...,...,...,...
3229,13,171,00326713,0500000US13171,13171,Lamar,06,475262687,6046028,"POLYGON ((-84.26917 33.03144, -84.25906 33.031..."
3230,18,007,00450403,0500000US18007,18007,Benton,06,1052616465,236033,"POLYGON ((-87.52650 40.47716, -87.52638 40.491..."
3231,16,053,00395662,0500000US16053,16053,Jerome,06,1546716831,12848211,"POLYGON ((-114.61740 42.85081, -114.59511 42.8..."
3232,17,095,00424249,0500000US17095,17095,Knox,06,1855506498,8834347,"POLYGON ((-90.44412 40.72857, -90.44400 40.729..."
3233,18,087,00450368,0500000US18087,18087,LaGrange,06,983195242,18359940,"POLYGON ((-85.65975 41.75910, -85.65074 41.759..."

In [6]:
geometry_column=county_gdf['geometry']
geometry_column

0       POLYGON ((-86.92120 32.65754, -86.92035 32.658...
1       POLYGON ((-86.96336 33.85822, -86.95967 33.857...
2       POLYGON ((-88.47323 31.89386, -88.46888 31.930...
3       POLYGON ((-88.13925 34.58779, -88.13872 34.589...
4       POLYGON ((-86.11889 34.40384, -86.11002 34.403...
                              ...
3229    POLYGON ((-84.26917 33.03144, -84.25906 33.031...
3230    POLYGON ((-87.52650 40.47716, -87.52638 40.491...
3231    POLYGON ((-114.61740 42.85081, -114.59511 42.8...
3232    POLYGON ((-90.44412 40.72857, -90.44400 40.729...
3233    POLYGON ((-85.65975 41.75910, -85.65074 41.759...
Name: geometry, Length: 3234, dtype: geometry

In [7]:
lat_lon=geometry_column.get_coordinates(index_parts=True)
lat_lon

                          x                   y
0    0  -86.921195999999995  32.657541999999999
     1  -86.920351999999994  32.658563000000001
     2  -86.920411000000001  32.660077000000001
     3  -86.917594999999992  32.664169000000001
     4  -86.914609999999996  32.664355000000000
...                     ...                 ...
3233 66 -85.658035999999996  41.675677000000000
     67 -85.657950999999997  41.676459000000001
     68 -85.658614000000000  41.696899999999999
     69 -85.658769999999990  41.704004999999995
     70 -85.659750008000898  41.759100801830094

[893880 rows x 2 columns]

#### Fraction of time PM2.5 was above EPA threshold

In [8]:
def single_county(var):
    
    ''' Function to interpolate the values in a single county by taking a 100 or less latitude and longitude pair.
        And then to find the fraction of time, PM2.5 was above EPA standard
        Args:
        --------
             var (int): The index of the county in the shapefile.

        Returns:
        --------
            pm_above_df: Dataframe consisting the values of the variables interpolated in the county.
    '''   
    
    
    longitude= lat_lon.loc[(var), 'x']  # get the longitude
    extract_val=len(longitude) ## find number of longitude that a shapfile has

    ## if number of longitude or latitude is less than 100, that many lat-lon pairs will be extracted, if not, a 100 values
    if extract_val < 100:
        extract_val=extract_val
    else:
        extract_val=100

    longitude=longitude[:extract_val]  ## extract first 100 values or values less than 100
    latitude=lat_lon.loc[(var),'y']    ## get the latitude values
    latitude=latitude[:extract_val]    ## extract first 100 values or values less than 100

    lat_list=latitude.tolist()
    lon_list=longitude.tolist()

    ## find the corresponding values of the variables in the finer grid

    year_avg_finer= pm2_5.interp(longitude=lon_list, latitude=lat_list)
    
## get only the 100 (or less) pair of latitude and longitude from the lat and lon list from the 100,000 (or less) rows
    get_vals=[]

    for i in range(0, extract_val):
        row=year_avg_finer.isel(latitude=[i], longitude=[i])
        row_df=row.to_dataframe()
        get_vals.append(row_df)
    
    initial_df=pd.concat(get_vals)
    summary = initial_df.groupby("valid_time").mean(["latitude", "longitude"])
    df=summary

    total_rows=len(df)

    c=0
    for i in range(0, total_rows):
        if df['pm2p5'].values[i] > pm_threshold:
            c=c+1

## convert number to a fraction
    frac_time=(c/total_rows)*100
    pm_above_df=pd.DataFrame({'PM2.5 above threshold':[frac_time]})


    return pm_above_df

In [9]:
len(county_gdf)

3234

In [10]:
%%time

## get the values for all counties

df_list_below=[]

for i in range(0,len(county_gdf)): ## loop for the all list of counties
    try:
        df_list_below.append(single_county(i))
    except:
        pass

CPU times: total: 48min 1s
Wall time: 48min 31s

In [11]:
concatenate_df=pd.concat(df_list_below)
final_df=concatenate_df.reset_index(drop=True)
final_df

      PM2.5 above threshold
0        61.095890410958908
1        62.465753424657535
2        59.212328767123289
3        57.534246575342465
4        62.739726027397261
...                     ...
3229     69.897260273972606
3230     66.815068493150690
3231     40.445205479452056
3232     60.993150684931507
3233     66.130136986301366

[3234 rows x 1 columns]

In [12]:
## lets first create a fips column in the original shape file

county_gdf['fips']=county_gdf['STATEFP'] + county_gdf['COUNTYFP']
county_gdf.dtypes
## convert the data type
county_gdf['fips']=county_gdf['fips'].astype(str).astype(int)
county_gdf.dtypes

county_gdf = county_gdf.drop(['STATEFP','COUNTYFP','COUNTYNS','AFFGEOID','GEOID','LSAD','ALAND','AWATER'], axis=1)
county_gdf

          NAME                                           geometry   fips
0      Autauga  POLYGON ((-86.92120 32.65754, -86.92035 32.658...   1001
1       Blount  POLYGON ((-86.96336 33.85822, -86.95967 33.857...   1009
2      Choctaw  POLYGON ((-88.47323 31.89386, -88.46888 31.930...   1023
3      Colbert  POLYGON ((-88.13925 34.58779, -88.13872 34.589...   1033
4       DeKalb  POLYGON ((-86.11889 34.40384, -86.11002 34.403...   1049
...        ...                                                ...    ...
3229     Lamar  POLYGON ((-84.26917 33.03144, -84.25906 33.031...  13171
3230    Benton  POLYGON ((-87.52650 40.47716, -87.52638 40.491...  18007
3231    Jerome  POLYGON ((-114.61740 42.85081, -114.59511 42.8...  16053
3232      Knox  POLYGON ((-90.44412 40.72857, -90.44400 40.729...  17095
3233  LaGrange  POLYGON ((-85.65975 41.75910, -85.65074 41.759...  18087

[3234 rows x 3 columns]

In [13]:
merged_df=pd.merge(county_gdf, final_df, left_index=True, right_index=True)
merged_df

,NAME,geometry,fips,PM2.5 above threshold
0,Autauga,"POLYGON ((-86.92120 32.65754, -86.92035 32.658...",1001,61.095890410958908
1,Blount,"POLYGON ((-86.96336 33.85822, -86.95967 33.857...",1009,62.465753424657535
2,Choctaw,"POLYGON ((-88.47323 31.89386, -88.46888 31.930...",1023,59.212328767123289
3,Colbert,"POLYGON ((-88.13925 34.58779, -88.13872 34.589...",1033,57.534246575342465
4,DeKalb,"POLYGON ((-86.11889 34.40384, -86.11002 34.403...",1049,62.739726027397261
...,...,...,...,...
3229,Lamar,"POLYGON ((-84.26917 33.03144, -84.25906 33.031...",13171,69.897260273972606
3230,Benton,"POLYGON ((-87.52650 40.47716, -87.52638 40.491...",18007,66.815068493150690
3231,Jerome,"POLYGON ((-114.61740 42.85081, -114.59511 42.8...",16053,40.445205479452056
3232,Knox,"POLYGON ((-90.44412 40.72857, -90.44400 40.729...",17095,60.993150684931507
3233,LaGrange,"POLYGON ((-85.65975 41.75910, -85.65074 41.759...",18087,66.130136986301366

In [14]:
county_df=merged_df.dropna()
county_df.head()

,NAME,geometry,fips,PM2.5 above threshold
0,Autauga,"POLYGON ((-86.92120 32.65754, -86.92035 32.658...",1001,61.095890410958908
1,Blount,"POLYGON ((-86.96336 33.85822, -86.95967 33.857...",1009,62.465753424657535
2,Choctaw,"POLYGON ((-88.47323 31.89386, -88.46888 31.930...",1023,59.212328767123289
3,Colbert,"POLYGON ((-88.13925 34.58779, -88.13872 34.589...",1033,57.534246575342465
4,DeKalb,"POLYGON ((-86.11889 34.40384, -86.11002 34.403...",1049,62.739726027397261

In [15]:
## convert into pandas dataframe without the geometry column
pd.options.display.float_format = '{:.15f}'.format ## see 15 decimal places of the numbers
county_var=pd.DataFrame(county_df.drop(columns='geometry')) 
county_var

          NAME   fips  PM2.5 above threshold
0      Autauga   1001     61.095890410958908
1       Blount   1009     62.465753424657535
2      Choctaw   1023     59.212328767123289
3      Colbert   1033     57.534246575342465
4       DeKalb   1049     62.739726027397261
...        ...    ...                    ...
3229     Lamar  13171     69.897260273972606
3230    Benton  18007     66.815068493150690
3231    Jerome  16053     40.445205479452056
3232      Knox  17095     60.993150684931507
3233  LaGrange  18087     66.130136986301366

[3234 rows x 3 columns]

In [16]:
county_var.to_pickle('FE_PM25_2013.pkl')